html {
  font: size 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

}

body.noscroll {
  overflow: hidden;
}

h1 {
  font-family:'Roboto Mono';
  font-weight: 400;
  line-height: 1.15;
  color: #05213D;
  margin-top: 0px;
  font-size: 65px;
  margin-bottom:  15px;
  size: 100%;
}
  
p {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 2.25rem;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

.container--pall {
  padding-top: 3.5rem;
  padding-right: 0.5rem;
  padding-bottom: 6rem;
  padding-left: 0.5rem;
}

.container--pallText1 {
  padding-top: 15rem;
  padding-right: 40rem;
  padding-bottom: 6rem;
}

.container--pallText2 {
  padding-top: -10000rem;
  padding-right: 40rem;
  padding-bottom: 6rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#F0C561), to(#F2AB06));
  background: linear-gradient(to right, #F0C561, #F2AB06);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 400;
}




.header__cta {
  font-size: 0.875rem;
  height: 150px;
  color: white;
  background-color: #05213D;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}


.hero {
  background-color: #EFF0EB;
  width: 100%;
  height: 521px;
  position: relative;
}
.hero2 {
  background-color: #9ACEAC;
  width: 100%;
  height: 590px;
  position: relative;
}

.hero_image_right {
  width: 409px;
  height: 407px;
  display: flex;
  position: relative;
  right:60px;
  top:80px;
  float:right;
}
.hero_image_left {
  width: 657px;
  height: 450px;
  display: flex;
  position: relative;
  left:100px;
  top:80px;
  float:left;
}
.hero_image_right img{
  width: 100%;
  height: 100%;
}
.hero_image_left img{
  width: 100%;
  height: 100%;
}
h2{
  font-family: "Roboto Mono";
  font-size: 36px;
  color: #2d314d;
}
.hero_title_left{
  position: relative;
  right:320px;
  float:right;
  top:30px;
  
}
.hero_title_right{
  position: relative;
  right:320px;
  float:right;
  top:50px;
  
}
p{
  font-family: "Inconsolata";
}
.hero__text__left {
  display:flex;
  position: relative;
  left:200px;
  float: left;
  color: #2d314d;
  width: 62%;
  height:62%;
}
.hero__text__right {
  display:flex;
  top:40px;
  position: relative;
  float: right;
  right:60px;
  color: #2d314d;
  width: 938px;;
  height:395px;

}

ul.horizontal-list li {
  text-align: center;
  display: inline-block;
  align-items: center;
  text-decoration: none;
}

.team__image {
  position: absolute;
  width: 392px;
  height: 221px;
  background-size: 90%;
  background-repeat: no-repeat;
  right: 7%;
}

.team__member img{
  height:200px;
  width: 200px;
}

.team__title {
  text-align: center;
  position: relative;
  
}

.team__text {
  text-align: left;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
 
}

.team__member {
  position: relative;
  width: 18%;
  float:left;
  left: 80px;
  font-family: "Roboto Mono";
  color:#05213D;
  font-size: 24px;
  top:50px;
}

.team__container 
{
  text-align: center;
  background-color: #05213D;
}


 

li,a,button{
  color:white;
  text-decoration:none;
}
header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 30px 10px;
  background-color:#05213D;
  font-family: "Roboto Mono";
}
.logo{
  cursor:pointer;
  width: 90px;
  height: 73px;
}
.logo img{
  width: 100%;
}

.nav{
  list-style:none;
}

.nav li{
  display:inline-block;
  padding: 0px 100px;
}

.nav li a{
  transition: all 0.3s ease 0s;
}
.nav li a:hover{
  color:grey;
}
footer{
  
  position: relative;
  overflow: hidden;
  background-color: #05213D;
}
footer ul{
  align-items:baseline;
}

footer .footer-right{
  float: right;
  padding: 0px 10px;
}
.footer_left{
  width: 20px;
}

.video{
  width: 600px;
  height: 440px;
  position: relative;
  left:650px;
}